:root {
  --font: "Barlow Condensed", sans-serif;
  --primary-color: #5d0247;
  --background-color: #9b50a2;
}

body {
  font-family: var(--font);
}

.three-head {
  border-radius: 4px;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--background-color);
}

.index {
  background: var(--background-color);
  text-align: center;
  color: white;
  padding: 120px 20px;
}

.bee {
  font-family: "Mansalva", sans-serif;
}

.btn-info {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background: var(--primary-color);
  color: white;
}

.btn-info-outline {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn-info-outline:hover {
  border: var(--primary-color);
}

.about-bee {
  line-height: 27px;
}

.project-info {
  padding: 120px 60px;
}

.logo {
  max-width: 100px;
  max-height: 40px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 200ms ease-in-out;
}

nav li.active a {
  color: var(--primary-color);
  font-weight: 600;
}

nav a:hover {
  color: #9b50a2;
  font-weight: 500;
}

@media (max-width: 900) {
  .project-info {
    padding: 0;
    text-align: center;
  }

  .webpage {
    padding: 0;
    text-align: center;
  }
}
